#node-modules
/node_modules/*
/node_modules

#boostrap
/assets/css/bootstrap
/assets/css/bootstrap/*

#non-functional
/_gimp
/_old
/_old_theme
/.vscode
/assets/img/_unused

#test files
_app_async_stream_pipes.js
under_construction.html


